In [1]:
import boto3
import pandas as pd
from io import StringIO  # python3; python2: BytesIO
import time

In [2]:
AWS_ACCESS_KEY = "AKIARDVSN3M3EXZ4JPX2"
AWS_SECRET_KEY = "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"
AWS_REGION = "us-east-1"
SCHEMA_NAME = "olympic_project"
S3_STAGING_DIR = "s3://olympic-zn/ethena_query_result/"
S3_STAGING_DIR_Query = "ethena_query_result"
S3_BUCKET_NAME = "olympic-zn"
S3_OUTPUT_DIRECTORY = "output"

In [3]:
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [4]:
athena_client

In [5]:
Dict = {}

def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err

    temp_file_location: str = "athena_query_result.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )

    # âœ… Dynamic result file location
    execution_info = client.get_query_execution(QueryExecutionId=query_response["QueryExecutionId"])
    output_path = execution_info['QueryExecution']['ResultConfiguration']['OutputLocation']
    s3_path = output_path.replace("s3://", "")
    bucket_name, object_key = s3_path.split("/", 1)

    s3_client.download_file(bucket_name, object_key, temp_file_location)

    return pd.read_csv(temp_file_location)

In [6]:
# Query the athletes table
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM athletes",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

# Download and load result into athletes DataFrame
athletes = download_and_load_query_results(athena_client, response)
athletes.head()

,name,short_name,gender,birth_date,birth_place,birth_country,country,country_code,discipline,discipline_code,residence_place,residence_country,height_m/ft,url
0,AALERUD Katrine,AALERUD K,Female,1994-12-04,VESTBY,Norway,Norway,NOR,Cycling Road,CRD,NaN,NaN,NaN,../../../en/results/cycling-road/athlete-profi...
1,ABAD Nestor,ABAD N,Male,1993-03-29,ALCOI,Spain,Spain,ESP,Artistic Gymnastics,GAR,MADRID,Spain,1.65/5'4'',../../../en/results/artistic-gymnastics/athlet...
2,ABAGNALE Giovanni,ABAGNALE G,Male,1995-01-11,GRAGNANO,Italy,Italy,ITA,Rowing,ROW,SABAUDIA,Italy,1.98/6'5'',../../../en/results/rowing/athlete-profile-n13...
3,ABALDE Alberto,ABALDE A,Male,1995-12-15,FERROL,Spain,Spain,ESP,Basketball,BKB,NaN,NaN,2.00/6'6'',../../../en/results/basketball/athlete-profile...
4,ABALDE Tamara,ABALDE T,Female,1989-02-06,VIGO,Spain,Spain,ESP,Basketball,BKB,NaN,NaN,1.92/6'3'',../../../en/results/basketball/athlete-profile...

In [7]:
response = athena_client.start_query_execution(
QueryString="SELECT * FROM medals",
QueryExecutionContext={"Database": SCHEMA_NAME},
ResultConfiguration={ "OutputLocation": S3_STAGING_DIR,
"EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}, },
)

medals = download_and_load_query_results(athena_client, response)
medals.head()

,medal_type,medal_code,medal_date,athlete_short_name,athlete_name,athlete_sex,athlete_link,country_code,discipline_code,event,country,discipline
0,Gold Medal,1,2021-07-24 00:00:00.0,KIM JD,KIM Je Deok,X,../../../en/results/archery/athlete-profile-n1...,KOR,ARC,Mixed Team,Republic of Korea,Archery
1,Gold Medal,1,2021-07-24 00:00:00.0,AN S,AN San,X,../../../en/results/archery/athlete-profile-n1...,KOR,ARC,Mixed Team,Republic of Korea,Archery
2,Silver Medal,2,2021-07-24 00:00:00.0,SCHLOESSER G,SCHLOESSER Gabriela,X,../../../en/results/archery/athlete-profile-n1...,NED,ARC,Mixed Team,Netherlands,Archery
3,Silver Medal,2,2021-07-24 00:00:00.0,WIJLER S,WIJLER Steve,X,../../../en/results/archery/athlete-profile-n1...,NED,ARC,Mixed Team,Netherlands,Archery
4,Bronze Medal,3,2021-07-24 00:00:00.0,ALVAREZ L,ALVAREZ Luis,X,../../../en/results/archery/athlete-profile-n1...,MEX,ARC,Mixed Team,Mexico,Archery

In [8]:
response = athena_client.start_query_execution(
QueryString="SELECT * FROM coaches",
QueryExecutionContext={"Database": SCHEMA_NAME},
ResultConfiguration={ "OutputLocation": S3_STAGING_DIR,
"EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}, },
)

coaches = download_and_load_query_results(athena_client, response)
coaches.rename(columns={'country_code': 'country_code_coh'}, inplace=True)

coaches.head()

,name,short_name,gender,birth_date,country_code_coh,discipline,function,event,url
0,ABDELMAGID Wael,ABDELMAGID W,Male,1982-08-02,EGY,Football,Head Coach,NaN,../../../en/results/football/athlete-profile-n...
1,ABE Junya,ABE J,Male,1990-07-25,JPN,Volleyball,Head Coach,NaN,../../../en/results/volleyball/athlete-profile...
2,ABE Katsuhiko,ABE K,Male,1979-09-23,JPN,Basketball,Coach,NaN,../../../en/results/basketball/athlete-profile...
3,ADAMA Cherif,ADAMA C,Male,1962-05-06,CIV,Football,Head Coach,NaN,../../../en/results/football/athlete-profile-n...
4,AGEBA Yuya,AGEBA Y,Male,1983-09-30,JPN,Volleyball,Head Coach,NaN,../../../en/results/volleyball/athlete-profile...

In [9]:
response = athena_client.start_query_execution(
QueryString="SELECT * FROM medals_total",
QueryExecutionContext={"Database": SCHEMA_NAME},
ResultConfiguration={ "OutputLocation": S3_STAGING_DIR,
"EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}, },
)

medals_total = download_and_load_query_results(athena_client, response)
medals_total.rename(columns={'country code': 'country_code'}, inplace=True)
medals_total.head()

,rank,country_code,gold medal,silver medal,bronze medal,total,country
0,1,USA,39,41,33,113,United States of America
1,2,CHN,38,32,18,88,People's Republic of China
2,3,JPN,27,14,17,58,Japan
3,4,GBR,22,21,22,65,Great Britain
4,5,ROC,20,28,23,71,ROC

In [10]:
response = athena_client.start_query_execution(
QueryString="SELECT * FROM technical_officials",
QueryExecutionContext={"Database": SCHEMA_NAME},
ResultConfiguration={ "OutputLocation": S3_STAGING_DIR,
"EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}, },
)

technical_officials = download_and_load_query_results(athena_client, response)
technical_officials.head()

,name,short_name,gender,birth_date,country,discipline,function,url
0,ABAEVA Elena,ABAEVA E,Female,1966-04-21,Uzbekistan,Wrestling,Judge,../../../en/results/wrestling/athlete-profile-...
1,ABBAR Bachir,ABBAR B,Male,1965-05-03,Morocco,Boxing,Judge,../../../en/results/boxing/athlete-profile-n15...
2,ABDELLATIF Makfouni,ABDELLATIF M,Male,1972-11-23,Morocco,Boxing,Judge,../../../en/results/boxing/athlete-profile-n15...
3,ABE Miya,ABE M,Female,1992-10-27,Japan,Beach Volleyball,Referee,../../../en/results/beach-volleyball/athlete-p...
4,ACIGA FULA Antonio Stephen,ACIGA FULA AS,Male,1957-11-28,Uganda,Boxing,Judge,../../../en/results/boxing/athlete-profile-n15...

In [11]:
print(medals_total.columns)

Index(['rank', 'country_code', 'gold medal', 'silver medal', 'bronze medal',
       'total', 'country'],
      dtype='object')

In [12]:
dimCountry = athletes[['birth_place', 'birth_country', 'country', 'country_code', 'residence_place', 'residence_country']]

dimMedals = medals[['medal_type', 'medal_code', 'athlete_short_name', 'athlete_name', 'athlete_sex', 
                    'country_code', 'discipline_code', 'event', 'country', 'discipline']]

dimCoaches = coaches[['name', 'short_name', 'gender', 'birth_date', 'country_code_coh', 
                      'discipline', 'function', 'event']]

dimAthletes = athletes[['athlete_name', 'short_name', 'gender', 'birth_date', 'discipline', 
                        'discipline_code', 'height_m/ft']]

dimMedals_Totals = medals_total[['rank', 'country_code', 'gold medal', 'silver medal', 
                                'bronze medal', 'total', 'country']]

dimTechnical_Officials = technical_officials[['name', 'short_name', 'gender', 'birth_date', 
                                             'country', 'discipline', 'function']]

KeyError: "['country_code'] not in index"

In [13]:
factOlympics = athletes.merge(medals, on='athlete_name', how='left') \
                       .merge(medals_total, left_on='country_code_x', right_on='country_code', how='left') \
                       .merge(coaches, left_on='country_code_x', right_on='country_code', how='left', suffixes=('', '_coach'))
factOlympics.columns

KeyError: 'athlete_name'

In [78]:
print(athletes.columns.tolist())

['name', 'short_name', 'gender', 'birth_date', 'birth_place', 'birth_country', 'country', 'country_code', 'discipline', 'discipline_code', 'residence_place', 'residence_country', 'height_m/ft', 'url']

In [14]:
print(coaches.columns.tolist())

['name', 'short_name', 'gender', 'birth_date', 'country_code_coh', 'discipline', 'function', 'event', 'url']